.App {
    --header_height: 60px;
}

.hw {
    background-color: var(--background);
    padding: 25px 70px 35px;
}
.hwTitle::after, .hw::after {
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    background-color: var(--separator);
    margin-top: 35px;
    transform: translateX(-70px)
}

.hwTitle {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    background-color: var(--background);
    padding: 40px 0 10px 70px;
}
.hwTitle::after {
    margin-top: 10px;
}
