.button {
}

.disabled {
    background-color: #a17b35;
}

.secondary {
    background-color: #95c46a;
}

.default {
    background-color: rgba(255, 255, 255, 0.35);
}

.red {
    background-color: #a13535;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
